.jumbotron{
  margin-top: 15%;
  margin-left: 1%;
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
  color: white;
  font-size: 20px;
  background: orange;

}
.jumbotron  a{
  border: 2px solid gold;

}
body{
background-image: url(https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
background-repeat: no-repeat;
background-size: cover;

}
